* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background-color: #263238;
}

/***
  Navigation
***/

.hamburger {
  cursor: pointer;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  right: 16px;
  width: 30px;
  height: 24px;
}

.hamburger > div {
  transition: 0.2s ease;
  width: 100%;
  height: 5px;
  background-color: #009688;
}

.hamburger.open > div:nth-child(2) {
  opacity: 0;
}

.hamburger.open > div:first-child {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.open > div:last-child {
  transform: translateY(-10px) rotate(-45deg);
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 94px;
  position: fixed;
  z-index: 2;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
  justify-content: space-between;
}
nav .overlay{
  margin:0;
  padding:0;
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background-color:white;
}
nav *{
  z-index: 2;
}

nav .brand {
  position: absolute;
  left: 50%;
  top:16px;
  transform: translate(-50%);
  height: 60px;
}
.links {
  list-style-type: none;
  margin-bottom: 19px;
  transition: 0.3s ease-in-out;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 0;
  top: -100px;
  width: 100%;
  margin: 0;
  margin-left: -16px;
  z-index: -1;
}

.links.open{
  top:93px;
}

.links a {
  text-decoration: none;
  color: #263238;
  font-size: 14px;
}

.links .active a {
  color: #009688;
}

.links li {
  border-bottom: thin solid #282727;
  background-color: white;
  color: #5f676c;
}

.links li:last-child {
  margin-right: 0;
}

.links li.active {
  background-color: #282727;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  width: 100%;
}

/***
  Page Content
 ***/

.main-content {
  display: block;
  background-color: white;
  padding-top: 16px;
  padding-bottom: 29px;
}

.profiles-header {
  margin-top: 94px;
  position: relative;
  width: 100%;
  height: 106px;
  background-image: url(./images/meet-the-team.png);
  background-size: cover;
  background-position-x: 0px;
  background-color: black;
}

.profiles-header > h1 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  font-weight: 400;
  position: absolute;
  font-size:1.5rem;
  bottom:29px;
  color: white;
  margin-left: 16px;
  font-size: 1.8rem;
}

.profiles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
}

.profile-card {
  cursor: default;
  margin: 14px 16px;
  position: relative;
  width: 297px;
  height: 407px;
  display: flex;
  align-items: flex-end;
}

.profile-card .wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease-in-out;
}

.profile-card:hover .wrapper {
  height: 342px;
}
.profile-card .name {
  padding-top:17px;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  text-align: right;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  z-index: 1;
  line-height: .8;
}

.profile-card .title {
  transition: 0.2s ease-in-out;
  text-transform: lowercase;
  text-align: right;
  margin-top: -5px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  z-index: 1;
}

.profile-card .description {
  height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  opacity: 0;
  color: white;
  font-size: 13px;
  padding-top: 11px;
  margin: 16px;
  z-index: 1;
}

.profile-card .overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  transition: 0.2s ease-in-out;
  height: 0;
  z-index: 0;
}

.profile-card:hover .overlay,
.profile-card:active .overlay {
  height: 342px;
}

.profile-card:hover .description,
.profile-card:active .description {
  transition-delay: 0.2s;
  opacity: 1;
  height: auto;
}

.learn-more {
  color: #009688;
  margin-left: 16px;
  padding-top: 16px;
  width: 40%;
}

.learn-more > a {
  transition: 0.2s;
  color: #009688;
}
.learn-more > a:hover {
  color: #161616;
}

/***
  Footer
***/

footer {
  padding: 16px 0;
  font-size: 11px;
  width: 100%;
  height: 77px;
  background-color: #263238;
  color: #eceff1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.social {
  padding-top: 15px;
  cursor: pointer;
}
.social a {
  text-decoration: none;
  color: #009688;
}
.social i {
  transition: 0.2s ease;
  font-size: 18px;
}
.social i:hover {
  color: white;
}

/***
  Media Queries
***/

@media only screen and (min-width: 986px) {
  .profile-card {
    margin: 0 16px;
  }
}

@media only screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }
  nav .brand {
    position: static;
    transform: none;
    height: 60px;
  }
  .links {
    transition: 0;
    z-index: 2;
    align-self: flex-end;
    width: auto;
    flex-direction: row;
    position: static;
  }
  .links li {
    color: #009688;
    border-bottom: none;
    margin-right: 24px;
    margin-bottom:8px;
  }
  .links a {
    color: #009688;
  }
  .links .active a {
    color: #009688;
  }
  .links li.active {
    background-color: white;
  }
  .profiles-header {
    height: 165px;
  }
  .profiles-header > h1 {
    font-size: 2.77rem;
    bottom:36px;

  }

  footer {
    flex: 1;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 16px;
  }
  footer > div:first-child {
    position: absolute;
    right: 50%;
    transform: translate(50%);
  }
  .social {
    padding-top: 0;
  }
}
